@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');
@import "reset.css";

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 30px;
  padding-top: 6px;
  font-weight: bold;
  margin-top: 24px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 26px;
}

h2 + h3 {
  margin-top: 12px;
}

p {
  padding-top: 16px;
}

body {
  margin-top: 20px;
  color: rgb(46, 46, 46);
  font-family: "PT Sans", sans-serif;
  /*background-image: url(img/dc-online-media-mockup.jpg);*/
  /* background-position: top center;
  background-repeat: no-repeat; */
  /* background-size: 800px auto; */
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-size: 18px;
  line-height: 1.6em;
}

ol {
  list-style: none;
  counter-reset: section;
}

.cont {
  margin-bottom: 20px;
}

li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}

ul, ol {
  padding: 0px 24px;
}
